
*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans",sans-serif;
	box-sizing: border-box;
	text-decoration: none;
  }

body{
  background-color: #151515;
}

.container{
  width: 1200px;
  margin: 0px auto;
  }
  .box{
    width: 305px;
    padding: 20px;
    float: left;
    margin: 45px;
  }
.AllData{
margin-left: 66px;
}
#conte{margin-left: 66px;
}

  .card {
	overflow: visible;
	width: 210px;
	height: 270px;
  }
  
  .content {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 300ms;
	box-shadow: 0px 0px 10px 1px #000000ee;
	border-radius: 5px;
  }
  
  .front, .back {
	background-color: #151515;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 5px;
	overflow: hidden;
  }
  
  .back {
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	overflow: hidden;
  }
  
  .back::before {
	position: absolute;
	content: ' ';
	display: block;
	width: 160px;
	height: 160%;
	background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
	animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
	position: absolute;
	width: 99%;
	height: 99%;
	background-color: #151515;
	border-radius: 5px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
  }
  
  .card:hover .content {
	transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
	0% {
	  transform: rotateZ(0deg);
	}
  
	0% {
	  transform: rotateZ(360deg);
	}
  }
  


  
  .front {
	transform: rotateY(180deg);
	color: white;
  }
  
  .front .front-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  .front-content .badge {
	background-color: #00000055;
	padding: 2px 10px;
	border-radius: 10px;
	backdrop-filter: blur(2px);
	width: fit-content;
  }
  .front-content .edit {
	background-color: #00000055;
	padding: 2px 10px;
	border-radius: 10px;
	backdrop-filter: blur(2px);
	width: fit-content;
	margin-left: 120px;
	margin-top: -180px;

  }

  .front-content .edit a{color: rgb(223, 222, 222);}
  .front-content .edit i{ color: rgb(0, 255, 229);font-weight: bold; }
  .front-content .delete {
	background-color: #00000055;
	padding: 2px 10px;
	border-radius: 10px;
	backdrop-filter: blur(2px);
	width: fit-content;
	margin-left: 160px;
	margin-top: -180px;
  }

  .front-content .delete button{color: rgb(14, 13, 13);background: none;border: none;}
  .front-content .delete button i{color: rgb(255, 0, 0)}
  
  .description {
	box-shadow: 0px 0px 10px 5px #00000088;
	width: 100%;
	padding: 10px;
	background-color: #00000099;
	backdrop-filter: blur(5px);
	border-radius: 5px;
  }
  
  .title {
	font-size: 11px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
  }
  
  .title p {
	width: 50%;
  }
  
  .card-footer {
	color: #ffffff88;
	margin-top: -7.8px;
	font-size: 12px;
	margin-left: 60px;
	font-weight: bold;
  }
  .front .user_profile {
	position: absolute;
	width: 50px;
	height: 50px;
	object-fit: cover;
    border-radius: 50px;
	margin-top: -7.5px;
	margin-left: -7px;
}
  .front .img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
  }
  
  .circle {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #ffbb66;
	position: relative;
	filter: blur(15px);
	animation: floating 2600ms infinite linear;
  }
  
  #bottom {
	background-color: #ff8866;
	left: 50px;
	top: 0px;
	width: 150px;
	height: 150px;
	animation-delay: -800ms;
  }
  
  #right {
	background-color: #ff2233;
	left: 160px;
	top: -80px;
	width: 30px;
	height: 30px;
	animation-delay: -1800ms;
  }
  
  @keyframes floating {
	0% {
	  transform: translateY(0px);
	}
  
	50% {
	  transform: translateY(10px);
	}
  
	100% {
	  transform: translateY(0px);
	}
  }
  
   
  
  
	

	