.center{
  display: flex;
} 
.backs {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    animation-name: backsdiv;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
  }

  .hearts {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 1, 43);
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beats;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #000;
  font-size: 190px;
  animation: beats 0.9s infinite;
  text-shadow:
      0 0 5px rgb(255, 0, 230),
      0 0 45px rgb(255, 0, 230),
      0 0 90px rgb(255, 0, 230),
  ;
  }
  .hearts:after {
    background-color: rgb(255, 0, 43);
    content: "";
    border-radius: 50%;
    position: absolute;   
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .hearts:before {
    background-color: rgb(255, 0, 43);
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
    
  }

  @keyframes backsdiv {
    50% {
      background: #272626;
    }
  }

  @keyframes beats {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }
  